*{box-sizing:border-box}

body{
    margin:0;
    font-family:Arial,sans-serif;
    background:var(--color-white-pink);
    color:white
}

.register{
    min-height:100vh;
    display:grid;
    place-items:center;
    position:relative;
    overflow:hidden
}

.card{
    width:285px;
    min-height:405px;
    background:var(--color-blue);
    border-radius:14px;
    padding:58px 38px 35px;
    text-align:center;
    position:relative;
    display:grid;
    gap:18px;
    align-content:start;
    z-index:1
}

.close{
    position:absolute;
    right:16px;
    top:10px;
    color:white;
    text-decoration:none;
    font-size:34px;
    font-weight:900
}

h1{
    font-size:22px;
    margin:0 0 18px;
    font-weight:900
}
    
input{
    border:0;
    border-radius:99px;
    padding:11px 18px;
    font-weight:700
}

button{
    border:0;
    border-radius:4px;
    background-color: var(--color-pink);
    color:white;
    padding:14px;
    font-weight:900;
    cursor:pointer
}
    
button:hover{
    filter:brightness(.95)
}