*{box-sizing:border-box}

body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f7ebe9;
    color:#060606
}

    
.home{
    min-height:100vh;
    display:grid;
    place-content:center;
    justify-items:center;
    text-align:center;
    gap:14px
}

h1{
    font-size:clamp(28px,5vw,42px);
    line-height:1.05;
    margin:0 0 4px;
    font-weight:900
}

.deko{
    font-size:48px;
    letter-spacing:12px;
    margin:4px 0 8px
}

.btn{
    width:190px;
    padding:14px 20px;
    border-radius:7px;
    color:white;
    text-decoration:none;
    font-weight:800
}

.pink{
    background:#df62a9
}

.orange{
    background:#ff4b2b
}

.btn:hover{
    filter:brightness(.95)
}